.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.loadpath
.metadata/.plugins
.metadata/.lock
.metadata/.log
.launch
.recommenders
.classpath
*.prefs

*.class

Thumbs.db
Desktop.ini

.DS_Store
.svn
 
# Thumbnails
._*

.Spotlight-V100
.Trashes
Warlords/.classpath.rej
